<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354467648757-8ob5h4gf7f3fmsui8qjocaabmgiu96uf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354467648757-8ob5h4gf7f3fmsui8qjocaabmgiu96uf</string>
	<key>API_KEY</key>
	<string>AIzaSyCvvjt3hrEeW72SMVNmv7H1JwdZ0xs-edk</string>
	<key>GCM_SENDER_ID</key>
	<string>354467648757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmho.app</string>
	<key>PROJECT_ID</key>
	<string>gmhoapp</string>
	<key>STORAGE_BUCKET</key>
	<string>gmhoapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354467648757:ios:7d0b0af4fa75717da661bc</string>
	<key>DATABASE_URL</key>
	<string>https://gmhoapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>